[Unit]
Description=Run MPQUIC tunnel watchdog every 15 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=mpquic-watchdog.service

[Install]
WantedBy=timers.target
